* {
    padding: 0;
    margin: 0;
}

.contain {
    float: left;
    width: 100vw;
    height: 100vh;
    background-color: #272727;
    display: grid;
    place-items: center;
}

.main {
    aspect-ratio: 5/7;
    background-color: white;
    width: 15vw;
    position: relative;
    transition: all 1s ease-in-out;
}

.main:hover > .card:nth-child(1) {
    transform-origin: bottom left;
    transform: rotate(-45deg);
}
.main:hover > .card:nth-child(2) {
    transform-origin: bottom left;
    transform: rotate(-25deg);
    background-color: antiquewhite;
}
.main:hover > .card:nth-child(3) {
    transform-origin: bottom left;
    transform: rotate(-5deg);
    background-color: aquamarine;
}

.card {
    width: 100%;
    background-color: #0f07;
    position: absolute;
    height: 100%;
    transition: all 0.5s ;
}